# ===================
# Monorepo Root
# ===================
.DS_Store
*.pem
.env*

# ===================
# Frontend (Next.js)
# ===================
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# ===================
# Backend (Laravel)
# ===================
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.env
backend/.env.backup
backend/.env.production
backend/Homestead.json
backend/Homestead.yaml
backend/auth.json
backend/npm-debug.log
backend/yarn-error.log
backend/.idea
backend/.vscode
backend/.phpunit.result.cache
backend/phpunit.result.cache
backend/.php-cs-fixer.cache
